 <!-- Sidebar -->
 
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-0">
        <img class="img-profile rounded-circle" src="../img/ImagenHT.png" width="65" height="50">
      </div>
      <div class="sidebar-brand-text mx-2">HuauchiTour<sup></sup>
      </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fa fa-home"></i>
        <span>Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Establecimientos
    </div>

    <!-- Nav Item - Admin Establecimientos -->    
    <li class="nav-item">
      <a class="nav-link" href="listar-estab.html">
        <i class="fa fa-th-list"></i>
        <span>Admin Establecimientos</span></a>
    </li>

       <!-- Divider -->
   <hr class="sidebar-divider">

    <div class="sidebar-heading">
      Administradores
    </div>
    <!-- Nav Item - Agregar Establecimiento -->
    <li class="nav-item">
      <a class="nav-link" href="listar-admin.html">
        <i class="fa fa-address-card"></i>
        <span>Admin Propietarios</span></a>
    </li>

   <!-- Divider -->
   <hr class="sidebar-divider">

   <!-- Heading -->
   <!-- <div class="sidebar-heading">
     Categorias y Subcategorias
   </div>
   <li class="nav-item">
     <a class="nav-link" href="categorias.html">
       <i class="fa fa-book"></i>
       <span>Administrar Categorias</span></a>
   </li>

   <hr class="sidebar-divider"> -->

   <!-- Heading -->
   <div class="sidebar-heading">
     Membresias
   </div>
   <li class="nav-item">
     <a class="nav-link" href="listar-membresia.html">
       <i class="fa fa-book"></i>
       <span>Administrar Membresias</span></a>
   </li>
    <!-- Divider -->
    <!-- <hr class="sidebar-divider d-none d-md-block"> -->

    <!-- Sidebar Toggler (Sidebar) -->
    <!-- <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> -->

  
  <!-- End of Sidebar -->